/* Mobile first (default) */
/* =========================
    Variables & Themes    
==========================*/
:root {
    /* Light Theme Colors */
    --white: #fefeffff;
    --charcoal-blue: #454851ff;
    --hunter-green: #3A5743;
    --dark-spruce: #004f2dff;
    --sage-green: #73956fff;
    --muted-teal: #7bae7fff;
    --celadon: #95d7aeff;
    --honeydew: #dff3e4ff;
    --lavender-blush: #fceff9ff;
    --tomato: #FE4A49;

    /* Dark Theme Colors */
    --space-indigo: #171738ff;
    --deep-twilight: #2e1760ff;
    --vivid-royal: #3423a6ff;
    --glaucous: #7180b9ff;
    --apricot-cream: #fed18cff;

    /* Active Colors */
    --color-bg: var(--white);
    --color-text: black;
    --color-primary: var(--charcoal-blue);
    --color-secondary: var(--tomato);
    --hidden-nav-bg: var(--honeydew);
}

.theme-dark {
    /* Active Colors */
    --color-bg: var(--space-indigo);
    --color-text: var(--white);
    --color-primary: var(--honeydew);
    --color-secondary: var(--apricot-cream);
    --hidden-nav-bg: var(--deep-twilight);
}

/* =========================
    Base Styles    
==========================*/
html {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.7s ease, color 0.5s ease;
}

button {
    background: none;
    font-size: 1.25em;
    border: none;
    color: var(--color-secondary);
}

/* =========================
    Navigations    
==========================*/
.top-nav {
    position: fixed;
    width: 100vw;
    margin: 0.5em auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    background: transparent;
    color: var(--color-primary);
    z-index: 20;
}

.top-nav ul{
    display: none;
}

#hamburger-nav {
    padding-left: 1rem;
    background: none;
    font-size: 2em;
    border: none;
    color: var(--color-secondary);
}

#hidden-nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: var(--hidden-nav-bg);
    color: var(--color-primary);
    transition: left 0.5s ease;
    z-index: 20;
    font-family: 'Jura', sans-serif;
    overflow: hidden;
}

#hidden-nav.open {
    left: 0;
}

#hidden-nav ul {
    margin: 0;
    padding: 3em 2em;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5em;
    box-sizing: border-box;
}

#hidden-nav a {
    color: var(--color-primary);
    font-weight:700;
    text-decoration: none;
}

#hidden-nav a:hover {
    color: var(--color-secondary);
}

#hidden-nav a.active {
    color: var(--color-secondary);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

#nav-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 15;
}

#nav-close-btn {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    font-size: 2em;
    cursor: pointer;
}

#nav-overlay.show {
    display: block;
}

/* Theme toggle always visible */
#theme-mode-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.5em;
    z-index: 25;
}

#theme-mode-btn:hover {
    cursor: pointer;
}

@media (min-width: 768px) { 
    .top-nav {
        /* position: sticky; */
        margin: 0.5em auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        background: transparent;
        color: var(--color-primary);
        font-family: 'Jura', sans-serif;
        text-transform: uppercase;
    }

    .top-nav ul {
        margin: 0;
        padding: 1em 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3em;
    }

    .top-nav a {
        padding: 0;
        color: var(--color-primary);
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease, text-underline-offset 0.3s ease;
    }

    .top-nav a:hover {
        color: var(--color-secondary);
        cursor: pointer;
    }

    .top-nav a.active {
        color: var(--color-secondary);
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 5px;
    }

    #hamburger-nav {
        display: none;
    }
}

/* =========================
    Hero Section    
==========================*/
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#hero-layers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-layer {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    pointer-events: none;
}



/* ========================== */
/* Desktop */
@media (min-width: 1024px) { }

/* Large screens */
@media (min-width: 1280px) { }
